
/* Imported link to Google Fonts Roboto, with extra weights added. Also as2nd font called Exo - NOTE the 'pipe' seperater */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*---------------------------------------COLORS-------------------------------*/

.bg-color-name-title {
    background-color: #bf8c25;
}

.bg-color-three-reasons {
    background-color: #ffffff; /*#dee2e6;*/
}

.ui-menu-color-home {
    background-color: #563f10;
}

.ui-menu-color-resume {
    background-color: #fbc223;
}

.ui-menu-color-contact {
    background-color: #ff8100;
}

.ui-menu-color-cv {
    background-color: #e22f06;
}

.bg-color-personnal-info {
    background-color: #ef8834;
}

.bg-color-work-history {
    background-color: #fbc223;
}

/*-------------------------SPECIAL / PADDING / MARGIN/  TEXT------------------*/

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #dee2e6;
}

.row-table {
    display: table;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.progress-section {
    margin-top: 25px;
}

/*----------------------------------------HEADINGS----------------------------*/


header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
   background: url("../images/CVProfilePic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 46px;
    margin-top: 50px;
    color: #dee2e6;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #343a40;
}


/*------------------------------------MENU BAR--------------------------------*/


#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}


.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #dee2e6;
    font-size: 26px;
}

.menuitem span {
    color: white;
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*--------------------------------------HOVER.CSS-----------------------------*/

.hvr-sweep-to-bottom:before {
   /* background:  #bf8c25;
   Also a nice color idea for the menu items!!!!  */
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*----------------------------------------FOOTER------------------------------*/

footer {
    background-color: #bf8c25;
    color: #dee2e6;
    min-height: 120px;
    margin: 0;
}

footer .cv-pdf i {
    color: #dee2e6;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #e22f06;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}
/*This line of code seems irrelivent to me!!! But it's in the tutorial video!!!*/
footer .social-links li a i {
     padding-bottom: 15px;
}

footer .social-links li a i {
    width: 34px;
    height: 34px;
    padding:12px 0;
    border-radius: 50%;
    font-size: 14px;
    line-height: 11px;
    text-align: center;
    color: #dee2e6;
    background: #563f10;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

footer .social-links li a i:hover {
    background: #e22f06;
}

#footer-details {
    margin: 25px;
}

/*-------------------------THREE REASONS SECTION------------------------------*/

.three-reasons-icon {
    font-size: 26px;
    color: #563f10;
    
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/*-------------------------------PERSONNAL INFO-------------------------------*/

.personnal-info-item {
    margin-bottom: 20px;
    display: block; /* Item will take up the whole line it is on, filling it's line */
    clear: both; /* No items will appear either sdie, as both sides are 'cleared' */
    
}

.personnal-info-item .key,
.personnal-info-item .value {
    padding-right: 8px;
}

.personnal-info-item .key p,
.personnal-info-item .value p {
   margin: 0;
}

.personnal-info-item .key {
    display: inline-block; /* Allows items to be lined up beside eachother on the same line */
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personnal-info-item .key p {
    font-weight: 700;
    
}

.personnal-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}

/*------------------------------------SKILLS----------------------------------*/

.progress {
    position: relative;
    height: 25px;
}

.progress-type {
    color: #343a40;
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    background-color: rgba(25,25,25,0.0); /*  The color values here are actually irrelivent!!! It's the last value (the opacity
                                                that is the important one! And set to 0.0, this background it totally see-thorough
                                                So we don't get a 'shadow' around the text within the progress bar*/
}

/*-----------------------------------WORK HISTORY-----------------------------*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #563f10;
    border-left: 1px solid; /* Displaying ONLY the left border gives the 'timeline' effect on our page */
}

.timeline-item p {
    margin: 0;
    padding: 0;
}


.timeline-item::before {  /* Not sure now '::before' works... Was not explained in the tutorila videos - it was just used! (as was '::after' */ 
    content: attr(dates);  /* This will target the attribute (in this case 'dates') from within the listed attributes for an element */
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
} 

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px; 
    content: '';   /* The content is empty, but we need to specify it to make the barder appear around it! */
    background-color: #563f10;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.history-items {
    margin-bottom: 30px;
}

.history-jobs{
    margin-bottom: 35px;
}


/*-------------------------------MEDIA QUERIES--------------------------------*/

/* This media query mean that any screen over 992px, the .section-column rule will apply  */
/* Allpying this rule will fix the mis-allignment of the middle section (where Personnal Info is) of the web pages */
@media (min-width: 992px) {
.section-column {
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
} }  


